body {
    background: #F6F6F6;
}


/*Validation*/
.parsley-error-list {
  margin-top: 4px;
  padding: 0;
}
.parsley-error-list li {
  padding: 0;
  list-style: none;
  color: #cc0000;
}
.parsley-error {
  border-color: #c00 !important;
}


/*LOGIN*/
.panel-login{
    width: 400px;
    display: block;
    margin: 50px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.panel-login_header{
    display: block;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    background: #222222;
}

.panel-login_header h1{
    margin: 0;
    font-size: 23px;
    color: #9D9D9D;
}

.panel-login_body {
    padding: 30px;
}


/*PAINEL*/
#panel-wrapper {
    display: table;
    width: 100%;
    position: absolute;
    height: 100%;
    padding-top: 50px;
}

.panel-sidebar {
    display: table-cell;
	position: relative;
	vertical-align: top;
}

.panel-sidebar {
    background: #23282E;
    border-right: solid 1px #e7e7e7;
    position: relative;
    width: 216px;
    z-index: 2;
}

.panel-content {
    display: table-cell;
    vertical-align: top;
}

.panel-content {
    margin-left: 216px;
    position: relative;
    padding: 0;
}

.page-head {
    background: #FFFFFF;
    border-bottom: 1px solid #E9E9E9;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 25px;
    position: relative;
}

.page-head .breadcrumb {
    background: none;
    margin-bottom: 0px;
    padding: 8px 0px 8px 0px;
}

.page-content {
    background-color: #F6F6F6;
    color: inherit;
    font-size: 13px;
    font-weight: 200;
    line-height: 21px;
    padding: 15px 30px 30px 30px;
    margin-top: 0;
}

.page-block {
    margin-bottom: 40px;
    padding: 20px 20px;
    background: #FFF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
}

.page-block_header {
    background: transparent;
    padding: 3px 0;
}

.page-block_headerh3 {
    margin-top: 3px;
    font-weight: 200;
}

.page-block_content {
    padding: 15px 3px 0 3px;
}

@media (max-width: 767px) {

    .panel-sidebar{
        display: block;
        width: 100%;
        border-right: none;
        border-bottom: solid 1px #e7e7e7;
    }

    .panel-content{
        display: block;
        margin-left: 0px;
    }

    .nav-side-menu{
        margin-bottom: 0px !important;
    }

}

/*BARRA LATERAL PAINEL*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #23282E;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: 'Glyphicons Halflings';
  content: "\e252";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: 'Glyphicons Halflings';
  content: "\e258";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  border-top: 1px solid #32353e;
  border-bottom: 1px solid #1a1c20;
}

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.nav-side-menu li:hover {
  background-color: #2A2C34;
  border-bottom: solid 1px #1a1c20;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: none;
    color: #e1ffff;
    font-size: 20px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/*END BARRA LATERAL PAINEL*/
